.saved-news {
  margin: 0;
  padding: 0 0 46px;
  box-sizing: border-box;
  background: #f5f6f7;
}

.saved-news__info {
  margin: 0 0 62px;
  padding: 40px 104px 56px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
}

.saved-news__page-name {
  margin: 0 0 28px;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news__title {
  margin: 0 0 30px;
  padding: 0;
  max-width: 530px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.saved-news__keywords {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.saved-news__keywords_accent_no-accent {
  font-weight: 400;
}

.saved-news__keywords_accent_bold {
  font-weight: 700;
}

.saved-news__container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transform: translateX(-2px);
}

@media screen and (max-width: 768px) {
  .saved-news {
    padding-bottom: 24px;
  }

  .saved-news__info {
    margin-bottom: 32px;
    padding: 24px 40px 32px;
  }

  .saved-news__page-name {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .saved-news__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
    max-width: 350px;
  }

  .saved-news__keywords {
    font-size: 14px;
  }
}
