.saved-news {
  margin: 0;
  padding: 0 0 46px;
  box-sizing: border-box;
  background: #f5f6f7;
}

.saved-news__container {
  margin: 0;
  padding: 0 104px;
  box-sizing: border-box;
  transform: translateX(-2px);
}
