.card {
  padding: 0;
  background: #fff;
  max-width: 400px;
  height: 40vw;
  max-height: 576px;
  border-radius: 16px;
  position: relative;
}

/* ======================================================== */
.card__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* ======================================================== */

.cards__item {
  margin: 0 16px 16px 0;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.card__image {
  width: 100%;
  height: 272px;
  margin: 0;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card__info {
  margin: 0;
  padding: 20px 24px 24px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card__date {
  margin: 0 0 12px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #b6bcbf;
}

.card__title {
  margin: 0 0 16px;
  padding: 0;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}

.card__description-container {
  margin: 0 0 10px;
  max-height: 132px;
  overflow: hidden;
}

.card__description {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  width: 352px;
}

.card__source {
  margin: auto 0 0;
  padding: 0;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

.card__bookmark {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
/*

.card__bookmark::after {
  content: '';
  background-image: url('../../images/bookmark-normal.svg');
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.2s ease-in-out;
}

.card__bookmark:hover::after {
  opacity: 0;
}

.card__bookmark::before {
  content: '';
  background-image: url('../../images/bookmark-hover.svg');
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

*/
/* =============================================================== */
/* пробую сделать модификатор logged-in */
.card__bookmark_not-logged-in::after {
  content: '';
  background-image: url('../../images/bookmark-normal.svg');
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.2s ease-in-out;
}

.card__bookmark_not-logged-in:hover::after {
  opacity: 0;
}

.card__bookmark_not-logged-in::before {
  content: '';
  background-image: url('../../images/bookmark-hover.svg');
  width: 40px;
  height: 40px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}
/* ================================================================ */

.card__tooltip {
  padding: 14px 11px;
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  right: 69px;
  background: #fff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card__bookmark:hover + .card__tooltip {
  opacity: 1;
}

.card__category {
  padding: 8px 15px;
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  left: 24px;
  background: #fff;
  border-radius: 10px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000;
}
